body {
}
.player-roster{
    display:inline-block;
    
    /*border: solid 1px black;*/

}
.hidden{
    display:none;
}
.player-card{
    margin: 10px 10px 10px 10px;
}
/*#progressbar{
    width: 50%;


}*/
.panel-body{
   
}
#selectTeam{
    display:inline-block;
    margin-right:15px;
    margin-left: 15px;
    width: 20%;
}
#selectTeam{
    display:inline-block;
    margin-right:15px;
    margin-left: 15px;
}
#playerImage{
    float:right;
}